@media (max-width: 1280px)
{
    .question-div{
        margin-left: 36%;
        margin-bottom: 40px;
    }
} @media (max-width: 1080px)
{
    .question-div{
        margin-left: 32%;
    }

    .stress
    {
        margin-top: 10px;
        padding: 15px 6px 7px;
    }
    .font
    {
        font-size: 17px;
    }

    .stress p
    {
        font-size: 15px;
    }
} 
@media(max-width: 991px)
{
.navigation
 {
  left: -300px;
 }
.navigation.active
 {
  width: 300px;
  left: 0;
 }
.main
 {
  width: 100%;
  left: 0;
 }
.main.active
 {
  left: 300px;
 }

 .question-div{
    margin-left: 32%;
    margin-top: 100px;
    margin-bottom: 70px;
}

.stress
{
    padding: 20px 10px 10px;
}

.stress h3 
{
    font-size: 28px;
}

.font
{
    font-size: 25px;
}

.stress p
{
    font-size: 20px;
}

}

@media (max-width: 680px){
    .question-div{
        margin-left: 25%;
        margin-bottom: 100px;
    }

    .stress
    {
        margin-top: 30px;
    }

    .font
    {
        font-size: 15px;
    }

    .stress p
    {
        font-size: 13px;
    }

}

@media (max-width: 481px) {
      .navigation
      {
       width: 100%;
       left: -100%;
       z-index: 1000;
      }
      .navigation.active
      {
       width: 100%;
       left: 0;
      }

    .navigation ul li a .header
      {
        left: -20%;
        margin-bottom: 50px;
      }

    .navigation ul li a .header img
    {

      min-width: 50px;
    }

      .user
      {
       min-width: 40px;
      }

      .toggle1
      {
       z-index: 10001;
      }  

      .question-div{
        margin-left: 10%;
        margin-bottom: 50px;
      }

      .stress h3
      {
        font-size: 19px;
        font-weight: 500;
      }

      .font
      {
          font-size: 13px;
      }
  
      .stress p
      {
          font-size: 11px;
      }

      .stress p:last-child
      {
        font-size: 13px;
      }
    }

@media (max-width: 441px)
    {
        .question-div{
            margin-left: 12%;
        }

        .stress
        {
            margin-top: 10px
        }

        .font
        {
            font-size: 15px;
        }
    
        .stress p
        {
            font-size: 13px;
        }
    } 

@media (max-width: 380px)
    {
        .question-div{
            margin-left: 7%;
        }

        .font
        {
            font-size: 14px;
        }
    
        .stress p
        {
            font-size: 10px;
        }
    } 