.stress
{
margin-top: 40px;
background: var(--secondary-color1);
border-radius: 1pc;
display: flex;
justify-content: space-around;
flex-direction: column;
padding: 20px 10px 10px;
padding-left: 15px;
opacity: 90%;
}

h3
{
    align-items: center;
}

.font
{
    font-family: Gloria;
    font-size: 19px;
}
.stress p
{
    font-family: UbuntuRegular;
    font-size: 16px;
}

.stress p:last-child
{
    font-size: 20px;
    font-weight: 700;
}